{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>パン屋</title>
    <link rel= "stylesheet" href="{% static '/css/ReserveList.css' %}">
</head>

<body>  
    <div class="header">
        <h1>pan</h1>
    </div>
    <!-- button menu -->
    <div class="buttons">
        <button type="button" ,class="reserve_list">予約一覧</button>
        <button type="button" ,class="bread_list">パン一覧</button>
        <button type="button" ,class="add_bread">パン追加</button>
    </div>
    <br><br><br>
    <div class="menu">
        <div class="header2">
            <a>時間</a>
            <a>氏名</a>
            <a>予約内容</a>
        </div>

            {% for reservation in reservations %}
            <div class="list">
                <a>{{reservation.receive_time}}</a>
                <a>{{reservation.customer_name}}</a>
                <a>
                {% for detail in reservation.details %}
                {{detail.bakery_item.name}}×
                {{detail.quantity}},
                {% endfor %}
                </a>    
                <form action="{% url 'webapp:ReserveList' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="reservation_id" value="{{ reservation.id }}">
                    <input type="submit" name="delete" value="削除">
            </form>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- フッター -->
    <div class="fotter">
        <h3>パン屋</h3>
    </div>
    <!-- javascript　読み込み -->
    <script type="text/javascript" src="{% static 'js/ReserveList.js' %}"></script>
</body>

</html>